body,
html {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
.App {
	display: flex;
	justify-content: flex-start;
	/* align-items: center; */
	background-color: whitesmoke;
}
.sidebar {
	width: 100%;
}
.container {
	padding: 0.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	/* width: 90vw; */
	margin: auto;
}
.card {
	padding: 0.5em;
	width: 50%;
	align-self: left;
	transition: all 0.3s;
}

@media only screen and (max-width: 319px) {
	.card {
		width: 100%;
	}
}

@media only screen and (min-width: 551px) {
	.card {
		width: calc(100% / 3);
	}
}

@media only screen and (min-width: 824px) {
	.card {
		width: 25%;
	}
}

@media only screen and (min-width: 1025px) {
	.card {
		width: 20%;
	}
}

img {
	width: 100%;
}

.cardFooter {
	background-color: chocolate;
	padding: 0.5em;
}
